body {
  background-color: #EEE;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("/static/images/ricardo.png");
}

shop {
  display: block;
  font-size: 1em;
  color: #C11;
  margin-top:16px;
  margin-bottom:16px;
}

moeda {
  display: block;
  color: #1C1;
  font-weight: bold;
}

input, textarea {
  padding: 5px 15px;
}

td img {
    width: 170px;
    width: 170px;
    width: 170px;
    width: 170px;
}

input[type=text], input[type=password] {
  width: 256px;
}

fieldset {
  width: 256px;
  padding: 50px;
  background-color: lightgray;
  border: 2px groove;
}

table, td {
  background-color: lightgray;
  border: 30px solid lightgray;
  border-collapse: collapse;
}

td {
  background-color: white;
  text-align: center;
  padding: 30px 10px;
  width: 256px;
  vertical-align: bottom;
}

.navbar user {
  float: center;
  padding: 12px;
  color: #ff8;
  text-decoration: none;
  font-size: 17px;
  background-color: #000;
}

.navbar {
  float: center;
  width: 58%;
  background-color: white;
  overflow: auto;
  top: 0;
}

.navbar a {
  float: left;
  padding: 20px;
  color: black;
  text-decoration: none;
  font-size: 17px;
}


.active {
    color: black;
    background-color: white;
    float: left;
}

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
  }
}

.footer {
    background-color: white;
    color: black;
    display: flex;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 1px 10px;
}

.icons {
    padding: 50px 10px;
}

.phone i {
    background-color: white;
    padding: 12px;
    cursor: pointer;
    border-radius: 100%;
}

.email i {
    background-color: white;
    padding: 12px;
    cursor: pointer;
    border-radius: 100%;
}

.marker i {
    background-color: white;
    padding: 12px;
    cursor: pointer;
    border-radius: 100%;
}

.phone p {
    display: inline-block;
    padding: 10px;
}

.email p {
    display: inline-block;
    padding: 10px;
}

.marker p {
    display: inline-block;
    padding: 10px;
}

.info {
    padding: 50px 100px;
}


.info-title {
    letter-spacing: 1px;
    font-size: 20px;
    text-transform: uppercase;
}

.info-content {
    background-color: white;
    padding: 10px;
    font-size: 15px;
    line-height: 25px;
    width: 400px;
}

.info div {
    display: flex;
    font-size: 30px;
}

.info div i {
    background-color: white;
    padding: 8px;
    color: black;
    border-radius: 10px;
}
