<!DOCTYPE html>
<html>
<link rel="shortcut icon" href="/static/favicon.png">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="/static/style.css">
{% block titulo %}
{% endblock %}

<script type="text/javascript" src="/static/scroll.js"></script>
<body>

{% set livro = loja.livro %}
{% set menu = loja.produtos %}
{% set usr = loja.usr.id %}
{% set carrinho = loja.carrinho %}
{% set unidades = loja.unidades %}
{% set total = loja.total() %}

{% set icons = ['', '', '', ''] %}
<center>
<div class="navbar">
  <a class="active" href="/"></i> XaviRichard</a>
  {% for nome in menu %}
  <a href="/pr/{{ nome.title }}"><i class="{{ icons.pop() }}"></i> {{ nome.title }}</a>
  {% endfor %}
  <a href="/carrinho"><i class="navbar"></i> Carrinho</a>
  {% if usr %}
  <a href="/logout"><i class="navbar"></i> Logout</a>
  <user><i class=""></i> {{ usr }}</user>
  {% else %}
  <a href="/login"><i class="navbar"></i> Login</a>
  <a href="/registo"><i class="navbar"></i> Registo</a>
  {% endif %}
</div>
</center>
{% block conteudo %}
{% endblock %}

<br><center>
<h3></h3>
</center>

<footer class="footer">
    <div class="icons">
        <div class="phone">
            <i class="fas fa-phone"></i>
            <p>926857339/253454977</p>
        </div>

        <div class="email">
            <i class="fas fa-envelope"></i>
            <p>ricardojorgexavier2003@gmail.com</p>
        </div>

        <div class="marker">
            <i class="fas fa-map-marked-alt"></i>
            <p>Rua Quinta das Glicinas 49 2ºDT</p>
        </div>

    </div>

    <div class="info">
        <p class="info-title">Sobre a Loja</p>
        <p class="info-content">Este é um mini projeto dedicado à compra de produtos online. Feito no âmbito da disciplina de PSI</p>
        <div>
            <div>
                <a href="http://instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>
            </div>
            <div>
                <a href="http://youtube.com" target="_blank"><i class="fab fa-youtube"></i></a>
            </div>

            <div>
                <a href="http://twitter.com" target="_blank"><i class="fab fa-twitter"></i></a>
            </div>

            <div>
                <a href="http://facebook.com" target="_blank"><i class="fab fa-facebook"></i></a>
            </div>
        </div>
    </div>

</footer>
</body>
</html>
